@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box; 
}
:root{
    --fonte1: 'Righteous', cursive; 
    --fonte2: 'Recursive', sans-serif;
     
      
}
body{
    background: #FB6B6B;
}
.site{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.site img{
    width: 136px;
    height: 161px;
    margin-top: 20vh;
}
.site h1{
    color: white;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    font-family: var(--fonte1);
}
.botao-iniciar{
    width: 246px;
    height: 54px;
    border-radius: 5px;
    background: white;
    color: #D70900;
    border: 1px solid #D70900;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--fonte2);
}
.retangulo{
    width: 255px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 36px;
}
.retangulo img{
    width: 52px;
    height: 60px;
}
.titulo{
    color: white;
    font-family: var(--fonte1);
}
.container-perguntas{
    margin: 0 auto 95px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-pergunta{
    height: 65px;
    width: 300px;
    border-radius: 5px;
    background: white;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonte2);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
;

}
.caixa-pergunta2{
    height: 130px;
    width: 300px;
    border-radius: 5px;
    background: #FFFFD4;
    margin-top: 25px;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--fonte2)
}
.virar{
    height: 20px;
    width: 30px;
    left: 73px;
    top: -2828px;
    border-radius: 0px;
    margin-left: 254px;
    margin-top:55px;
    margin-bottom: 5px;
}
.caixa-pergunta4{
    height: 65px;
    width: 300px;
    border-radius: 5px;
    background: white;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    font-family: var(--fonte2)
}
.caixa-pergunta4 .pergunta{
    text-decoration: line-through;
    font-family: var(--fonte2)
}



.pergunta{
    padding: 10px;
    color: #333333;
    font-family: var(--fonte2);
    font-family: Recursive;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
.pergunta.verde{color: #2FBE34;}
.pergunta.vermelho{color:#FF3030 }
.pergunta.amarelo{color:#FF922E }

.pergunta2{
    color: #333333;
    padding: 10px;
    font-family: var(--fonte2);
}
.caixa-pergunta img{
    height: 23px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.card{
    padding: 10px;
    color: #333333;
}
#mais{
    display: none;
}
footer{
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: var(--fonte2);
    font-size: 18px;
    font-weight: 400;
}
footer p{
    font-family: var(--fonte2);
}

/* Icones */

ion-icon {
    /* background:#FF3030; */
    width: 23px;
    height: 23px;
}
ion-icon[name='close-circle-outline']{
 color:red;
}
ion-icon[name="help-circle-outline"]{
    color: #FF922E;
}
ion-icon[name="checkmark-circle-outline"]{
    color: #2FBE34;
}

.icone.pergunta{
    width: 23px;
    height: 23px;
}


/* botoes */
.caixa-pergunta2 .caixa{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    font-size: 16px;

}
.botao{
    width: 30%;
    height:37px;
    border-radius: 8px;
    color: white;
    text-align: center;
    border: none;
    font-family: var(--fonte2);
}
.botao.vermelho{
    background-color: #FF3030;
}
.botao.verde{
    background-color: #2FBE34;
}
.botao.amarelo{
    background: #FF922E;
}

.escondido{
    display: none;
}
.resultado{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 222px;
    text-align: center;
}
.resultado h1{
    font-size: 18px;
    font-family: var(--fonte2);
}
.resultado p{
    font-size: 18px;
    font-family: var(--fonte2);
}